input[type="checkbox"]:checked::before {
    content: "\2714"; /* Unicode for checkmark symbol */
    position: absolute;
    width: 6px; /* Adjust as needed */
    height: 6px; /* Adjust as needed */
   /* Adjust as needed */
    text-align: center;
    color: green; /* Color of the tick mark */
    font-size: 12px; /* Adjust as needed */
    margin-left: 0.5%;
    margin-top: -0.3%;
  }